*{
    padding: 0;
    margin: 0;
}
nav ul{
    list-style: none;
    display: flex;
    align-items:center ;
}
nav{
    background-color: black;
    color: white;
}
nav ul li{
    padding: 14px 30px;
    font-size: 26px;
}
.navdetails:hover{
    background-color: rgb(92, 81, 81);
}
#title{
    font-size: 30px;
    padding: 8px 10px;
    padding-left: 10px;
    border-right: solid 2px white;
}
.container{
    background-color: rgb(236, 219, 170);
    display: flex;
    justify-content:center ;
    height:91vh;
}
.gamelocation{
    width: 50vw;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameinfo{
    width: 50vw;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameprogress{
    background-color: blanchedalmond;
    border: solid 2px black;
    width: 60%;
    height: 60%;
    padding: 3% 4%;
    border-radius: 30px;
}

.gamebox{
    grid-template-columns: repeat(7,4vw);
grid-template-rows: repeat(7,4vw);
display: grid;
background-color: blanchedalmond;
}
.boxer{
    border: 2px solid black;
    font-weight: 1000;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    font-size: 3.6vw;
}
.red{
    color: tomato;
}
.blue{
    color: blue;
}
.gameover{
    position: absolute;
    top:60px;
    right:44vw;
    font-weight: 400;
    font-size: 50px;
    display:none;
}
.draw{
    position: absolute;
    top:100px;
    right:46vw;
    font-weight: 400;
    font-size: 50px;
    display:none;
}
#turn{
    font-size: 3vw;
}
@media only screen and (max-width:1070px) and (min-width:750px){
    .gamebox{
        grid-template-columns: repeat(7,5vw);
    grid-template-rows: repeat(7,5vw);
    
    }
    .box{
        font-size: 4vw;
    }
}
@media only screen and (max-width:750px) and (min-width:550px){
    .gamebox{
        grid-template-columns: repeat(7,6vw);
    grid-template-rows: repeat(7,6vw);
    
    }
    nav ul li{
        padding: 7px 20px;
        font-size: 20px;
    }
    .box{
        font-size: 4.5vw;
    }
}
@media only screen and (max-width:550px) {
    .gamebox{
        grid-template-columns: repeat(7,6.5vw);
    grid-template-rows: repeat(7,6.5vw);
    
    }
    .container{
        
        display: block;
        margin: auto;
        /* flex-direction: row; */
        justify-content:center ;
        /* height:91vh; */
    }
    .gamelocation{
        height: 65vh;
        margin: auto;
        padding: 10px 3px;
    }
    .gameinfo{
        /* height: 20vh; */
        margin: auto;
    }
    nav ul li{
        padding: 0.5vw 2vw;
        font-size: 4vw;
    }
    #title{
        font-size: 20px;
        padding: 5px 5px;
        padding-left: 5px;
        border-right: solid 2px white;
    }
    .box{
        font-size: 5vw;
    }
}
@media only screen and (max-width:400px) {
    .gamebox{
        grid-template-columns: repeat(7,9vw);
    grid-template-rows: repeat(7,9vw);
    
    }
    .box{
        font-size: 5.5vw;
    }

}

